---
layout: default
title: My Blog
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iamjing66</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/png">
  </head>
  <body>
    <h2>{{ page.title }}</h2>
    <p>New</p>
    <ul>
        {% for post in paginator.posts %}
        <li>{{ post.date | date_to_string }}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <nav class="pagination" role="navigation">
        {% if paginator.previous_page %}
        <a class="previous pagination__newer btn btn-small btn-tertiary" href="{{ paginator.previous_page_path }}">&larr; 上一页</a>
        {% endif %}
        <span class="page_num pagination__page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a class="next pagination__older btn btn-small btn-tertiary" href="{{ paginator.next_page_path }}">下一页 &rarr;</a>
        {% endif %}
    </nav>
  </body>
  <footer>
    <a href="https://github.com/iamjing66">iamjing66</a>
  </footer>
</html>
